body {
  margin: 0;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#lightbox-image {
  width: 800px;
  height: auto;
}
.lightbox button {
  position: fixed;
  top: 0;
  right: 0;
}
h1 {
  text-align: center;
}
.gallery {
  padding: 4px;
}

.gallery img {
  width: 300px;
  height: 300px;
}
